@import "~materialize-css/sass/components/prefixer";
@import "~materialize-css/sass/components/mixins";
@import "~materialize-css/sass/components/color";
@import "~materialize-css/sass/components/variables";
@import "~materialize-css/sass/components/global";

.dashboardPage {
  section {
    margin: 40px 0;

    .caption {
      margin: 20px 0;
      font-size: 1.2rem;
      opacity: 0.5;
    }
  }


}
