@import "~materialize-css/sass/components/prefixer";
@import "~materialize-css/sass/components/mixins";
@import "~materialize-css/sass/components/color";
@import "~materialize-css/sass/components/variables";
@import "~materialize-css/sass/components/global";

.slider.multislider {
  height: 16px;

  .bar {
    height: 4px;
    top: 8px;
  }
  .handle {
    @extend .z-depth-1;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 50% 50%;
    background-color: white;
  }
}


.investItemPage {

  $color-1: #00aed0;
  $color-2: rgb(159, 36, 50);
  $color-3: rgb(236, 233, 101);
  $color-other: rgb(29, 29, 38); 

  .multislider {
    .bar-0 {
      background-color: $color-1;
      border-radius: 4px 4px;
    }
    .bar-1 {
      background-color: $color-2;
    }
    .bar-2 {
      background-color: $color-3;
    }
    .bar-3 {
      background-color: $color-other;
      border-radius: 4px 4px;
    }
  }
  
  .accountItem {


    .col {
      padding: 10px 0;
      border-bottom: 1px solid rgb(234, 234, 235);
    }


    .icon {
      font-weight: 700;
    }
    &.acc-1 .icon {
      color: $color-1;
    }
    &.acc-2 .icon {
      color: $color-2;
    }
    &.acc-3 .icon {
      color: $color-3;
    }
    &.acc-other .icon {
      color: $color-other;
    }
    .desc {
      text-transform: uppercase;
    }
  }

  .cardHeadline { 
    margin: 20px 0;
    font-size: 2rem;
  }

  .actionBar { 
    margin: 60px 0;
    .linkBar {

      $predictionLinkSize: 120px;

      @extend .z-depth-1;
      border-radius: 40px;
      height: 40px;
      position: relative;
      .actionLink {
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        position: relative;
        display: inline-block;
        width: 50%;
        text-align: center; 
        vertical-align: middle;
        $edgeOffset: calc(25%-#{$predictionLinkSize});
        
        &.actionDecline {
          left: $edgeOffset;
        }
        &.actionApprove {
          right: $edgeOffset;
        }
      }
      .predictionLink {
        position: absolute;
        display: block;
        width: $predictionLinkSize;
        height: $predictionLinkSize;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-radius: 50% 50%;
        &:before {
          content: "";
          background-image: url('../../static/images/button_crystalball.png');
          background-size: 100% 100%;
          width: 100%;
          height: 100%;
          display: block;
        }
      }
      
    }

  }
  .investAction {
  
    .investHeadline {
      font-size: 1.2rem;
    }
    .investAmount {
      font-size: 4rem;
      font-weight: 300;
    }
  }

  .buttonBar {
    a {
      width: 49.5%;
      display: inline-block;
      font-size: 1.2rem;
    }
    a.contact {
      margin-right: 0.5%;
    }
    a.invest {
      margin-left: 0.5%;
    }
  }
}
