@import "~materialize-css/sass/components/prefixer";
@import "~materialize-css/sass/components/mixins";
@import "~materialize-css/sass/components/color";
@import "~materialize-css/sass/components/variables";
@import "~materialize-css/sass/components/form";

.videoPage {
  .loadMoreBtnWrapper {
    text-align: center;
    margin-bottom: 30px;
  }
  .tabs .tab {
    font-size: 0.8rem;
  }
}
