@import "~materialize-css/sass/components/prefixer";
@import "~materialize-css/sass/components/mixins";
@import "~materialize-css/sass/components/color";
@import "~materialize-css/sass/components/variables";
@import "~materialize-css/sass/components/global";

.investCard { 
  @extend .z-depth-1;

  .coverImg {
    height: 280px;
    background-size: cover;
    background-position-x: 50%;
  }

  .titleWrapper {
    height: 80px;

    .title {
      font-size: 1.5rem;
      width: 100%;
      text-align: center;
    }
  }
}
