html {
  font-family: Roboto, sans-serif;
  height: 100%;
  
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  height: 100%;
}

#content {
  height: 100%;
  > div {
    height: 100%;
  }
}



/*
 * Materialize-css imports
 */

// Setup
@import "~materialize-css/sass/components/prefixer";
@import "~materialize-css/sass/components/mixins";
@import "~materialize-css/sass/components/color";
$primary-color: color("blue", "base") !default;
$primary-color-light: false !default;
$primary-color-dark: false !default;
@if not $primary-color-light {
  $primary-color-light: lighten($primary-color, 15%);
}
@if not $primary-color-dark {
  $primary-color-dark: darken($primary-color, 15%);
}
$secondary-color: color("pink", "base") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "base") !default;
$link-color: color("light-blue", "darken-1") !default;
@import "~materialize-css/sass/components/variables";
@import "~materialize-css/sass/components/normalize";

// components
@import "~materialize-css/sass/components/global";
@import "~materialize-css/sass/components/grid";
@import "~materialize-css/sass/components/navbar";
@import "~materialize-css/sass/components/typography";
@import "~materialize-css/sass/components/cards";
@import "~materialize-css/sass/components/tabs";
//@import "~materialize-css/sass/components/tooltip";
//@import "~materialize-css/sass/components/buttons";
//@import "~materialize-css/sass/components/dropdown";
//@import "~materialize-css/sass/components/waves";
//@import "~materialize-css/sass/components/modal";
//@import "~materialize-css/sass/components/collapsible";
//@import "~materialize-css/sass/components/chips";
//@import "~materialize-css/sass/components/materialbox";
//@import "~materialize-css/sass/components/form";
//@import "~materialize-css/sass/components/table_of_contents";
@import "~materialize-css/sass/components/sideNav";
@import "~materialize-css/sass/components/preloader";
//@import "~materialize-css/sass/components/slider";
//@import "~materialize-css/sass/components/date_picker/default.scss";
//@import "~materialize-css/sass/components/date_picker/default.data.scss";
//@import "~materialize-css/sass/components/date_picker/default.time.scss";

/*
 * Materialize-css FIXES
 */

.btn-floating i {
  vertical-align: top;
}

/*
 * Materialize-css stlying
 */

/*
 * Own general styling
 */
$font-color: #1d1d26;

html {
  color: $font-color;
  font-family: OpenSans, sans-serif;
}

// Buttons
$btn-primary: #eb4d5f;

.btn {
  color: white;
  background-color: $btn-primary;
  height: 60px;
  line-height: 58px;
  width: 100%;
  text-align: center;
  vertical-align: center;
  display: inline-block;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  vertical-align: middle;
  
  i {
    font-size: 3rem;
    margin: 0 10px;
  }

}
.btn-round {
  border-radius: 20px;
}

.btn-transparent {
  color: $btn-primary;
  background-color: transparent;
}

i.tinvest {
  content: url('../static/images/icons/tinvest_white.png');
}

.btn {
  i.tinvest {
    height: 30px;
    position: relative;
    top: 6px;
    margin-left: -24px;
  }
}

/* 
 * Font imports 
 */
@font-face {
  font-family: 'OpenSans';
  src: url('../static/fonts/open-sans/OpenSans-Light.woff') format('woff'),
       url('../static/fonts/open-sans/OpenSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../static/fonts/open-sans/OpenSans-Regular.woff') format('woff'),
       url('../static/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../static/fonts/open-sans/OpenSans-Bold.woff') format('woff'),
       url('../static/fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/*
@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Thin.woff') format('woff'),
       url('../static/fonts/roboto/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Light.woff') format('woff'),
       url('../static/fonts/roboto/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Regular.woff') format('woff'),
       url('../static/fonts/roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Medium.woff') format('woff'),
       url('../static/fonts/roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../static/fonts/roboto/Roboto-Bold.woff') format('woff'),
       url('../static/fonts/roboto/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
*/

/* Material Design Icon Font
 * 
 * i.e. use as <i class="material-icons">face</i>
 */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../static/fonts/material-design-icons/MaterialIcons-Regular.eot'); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url('../static/fonts/material-design-icons/MaterialIcons-Regular.woff2') format('woff2'),
       url('../static/fonts/material-design-icons/MaterialIcons-Regular.woff') format('woff'),
       url('../static/fonts/material-design-icons/MaterialIcons-Regular.ttf') format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

  .md-18 {
    font-size: 18px;
  }
  .md-24 {
    font-size: 24px;
  }
  .md-36 {
    font-size: 36px;
  }
  .md-48 {
    font-size: 48px;
  }

  .md-dark {
    color: rgba(0, 0, 0, 0.54);
    .md-inactive {
      color: rgba(0, 0, 0, 0.26);
    }
  }
  .md-light {
    color: rgba(255, 255, 255, 1);
    .md-inactive {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
